%include("header.html")

<div id="browseDiv">
	%if isRunningOnWindows:
		<div id="drivesDiv">
			<h2>Windows Drives: 
			%for drive in drives:
				<div class="drive">
					<a href="/browse/{{drive}}:/">{{drive}}:\</a>
				</div>
			%end
			</h2>
		</div>
	%end

	<h2>You are here: {{path}}</h2>
	<div id="actionsDiv">
		%if isAProject:
			<p>This is a LUCID project</p>
			<p>
				<a href="/select/{{path}}">SELECT this project</a>
				<a href="/delete/{{path}}" onclick="return confirm('Are you sure!?');">DELETE this project</a>
			</p>
		%else:
			<p>This is not a LUCID project.</p>
			<p><a href="/create/{{path}}">Create a project here</a></p>
		%end
	</div>

	<h2>Browse</h2>
	<div id="foldersDiv">
		<a href="/browse/{{parent}}" class="folder">..</a><br />
		%for folder in folders:
			<a href="/browse/{{path}}/{{folder}}" class="folder">{{path}}/{{folder}}</a><br />
		%end
	</div>
</div>

<script type="text/javascript">
window.onload = function() {
	document.getElementById("shutdown_link").setAttribute("href", "/shutdown");
}
</script>

%include("footer.html")
