<h1>Users:</h1>
<hr />
<div id="usersList"></div>

<script type="text/javascript">
var users = %users%;

window.onload = function() {
	var container = document.getElementById("usersList");
	for (const [username, user] of Object.entries(users)) {
		var div = document.createElement("div");

		var el = document.createElement("h3");
		var text = document.createTextNode(username);
		el.appendChild(text);
		div.appendChild(el);

		el = document.createElement("p");
		text = document.createTextNode(user.email);
		el.appendChild(text);
		div.appendChild(el);

		var a = document.createElement("a");
		a.classList.add("UserDiv");
		a.setAttribute("href", "/" + username);
		a.appendChild(div)

		container.appendChild(a);	
	}
}
</script>
