html {
	color: gold;
	background-color: DarkOliveGreen;
}

#header img {
	vertical-align: -11px;
	padding: 5px;
}

#content h1 {
	margin-bottom: 0;
}

#content hr {
	color: yellow;
}

/* todo those are a not divs ... */
a.UserDiv,
a.ProjectDiv {
	text-decoration: none;
}

	a.UserDiv div,
	a.ProjectDiv div,
	div.ListDiv {
		float: left;
		border: solid 1px gold;
		border-radius: 5px;
		background-color: khaki;
		color: black;
		width: 200px;
		min-height: 100px;
		padding: 10px;
		margin: 10px;
	}

	a.UserDiv h3,
	a.ProjectDiv h3,
	div.ListDiv h2 {
		padding: 0;
		margin: 0;
	}

	a.UserDiv p,
	a.ProjectDiv p {
		padding: 0;
		margin: 0;
	}

a.CardDiv {
	text-decoration: none;
}

	a.CardDiv div {
		display: inline-block;
		border: solid 1px lightyellow;
		border-radius: 5px;
		background-color: lightyellow;
		color: black;
		width: 180px;
		padding: 5px;
		margin: 5px;
	}
