html {
	color: {{html_foreground}};
	background-color: {{html_background}};
}

#header img {
	vertical-align: -11px;
	padding: 5px;
}

#project_selector {
	float: right;
	margin-right: 15px;
	color: {{html_foreground}};
	background-color: {{html_background}};
}

#theme_selector {
	float: right;
	margin-right: 15px;
}
	#theme_selector select {
		background-color: {{html_background}};
		color: {{html_foreground}};
	}

#shutdown_link {
	float: right;
	color: {{html_foreground}};
}

#content h1 {
	margin-bottom: 0;
}

#star {
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: -4px;
	margin-left: 5px;
	width: 32px;
	height: 32px;
}

	#star.full {
		background-image: url("/star-full.png");
	}

	#star.empty {
		background-image: url("/star-empty.png");
	}

#project_name {
	color: {{html_foreground}};
	background-color: {{html_background}};
	border: none;
	font-size: xx-large;
	width: 90%;
}

#content hr {
	color: {{html_foreground}};
}

#listsDiv {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

div.list {
	flex-shrink: 0;
	border: solid 1px {{list_border}};
	border-radius: 5px;
	background-color: {{list_background}};
	color: {{list_foreground}};
	width: 200px;
	padding: 0 10px 10px 10px;
	margin: 10px;
	box-shadow: 2px 2px rgba(0,0,0,0.33);
}

	div.list input {
		background-color: {{list_background}};
		color: {{list_foreground}};
		border: none;
		font-size: x-large;
		width: 150px;
		height: 32px;
		margin: 0 0 5px 5px;
	}

	div.list img[src="/list_handle.png"] {
		margin-left: 78px;
	}

	div.list img[src="/add.png"] {
		margin-top: 20px;
		float: right;
	}

	div.list div.card_count {
		text-align: right;
		margin-top: 0px;
		margin-bottom: 0;
	}

#listMenu {
	position: absolute;
	display: none;
	background-color: {{list_background}};
	border: solid 1px {{list_border}};
	border-radius: 6px;
	padding-top: 5px;
}

a.card {
	display: block;
	text-decoration: none;
	margin: 5px 0 5px 0;
}

	a.card div.cardDiv {
		display: inline-block;
		border-right: solid 1px {{card_border}};
		border-bottom: solid 1px {{card_border}};
		border-left: solid 1px {{card_border}};
		border-top: solid 1px {{card_border}};
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: {{card_background}};
		color: {{card_foreground}};
		width: 180px;
		padding: 5px 5px 5px 5px;
		margin: 0 5px 0 5px;
		cursor: grab;
	}
		a.card.dragged {
			opacity: 0.3;
		}
		a.card.dragGhost {
		}

		a.card div.cardDiv img {
			margin: 2px 0 0 5px;
			cursor: default;
			float: right;
		}

		a.card div.cardDiv div.progressArea {
			padding: 3px 0 0 0;
			width: 175px;
		}

			a.card div.cardDiv div.progressArea div.progressBar {
				float: left;
				margin: 0;
				padding: 0;
				width: 145px;
				height: 4px;
				display: inline-block;
				background-color: {{progressbar_background}};
				border: solid 1px {{progressbar_border}};
				border-radius: 2px;
			}

			a.card div.cardDiv div.progressArea div.progressBar div.progress {
				margin: 0;
				padding: 0;
				height: 4px;
				display: block;
				background-color: {{progressbar_progress}};
				border-radius: 1px;
			}

			a.card div.cardDiv div.progressArea div.checklist_counts {
				float: right;
				width: 19px;
				margin: -2.75px 0 0 0;
				padding: 0;
				font-size: xx-small;
				text-align: right;
				display: inline-block;
			}

		a.card div.labels {
			background-color: {{list_background}};
			width: 190px;
			line-height: 0px;
			height: 5px;
			padding: 0;
			margin: 0 5px 0 5px;
		}

			a.card div.labels div {
				display: inline-block;
				line-height: 0px;
				height: 5px;
				width: 31.67px;
				padding: 0;
				margin: 0;
			}

			a.card div.labels div.label1 {
				background-color: red;
			}

			a.card div.labels div.label2 {
				background-color: orange;
			}

			a.card div.labels div.label3 {
				background-color: yellow;
			}

			a.card div.labels div.label4 {
				background-color: green;
			}

			a.card div.labels div.label5 {
				background-color: blue;
			}

			a.card div.labels div.label6 {
				background-color: magenta;
			}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#modal_dialog {
	width: 50%;
	max-width: 500px;
	margin: 15% auto;
	padding: 20px 25px 20px 20px;
	background-color: {{card_background}};
	border: solid 1px {{card_border}};
	border-radius: 9px;
	box-shadow: 5px 5px rgba(0,0,0,0.33);
}

	#modal_dialog input[type="text"],
	#modal_dialog textarea {
		width: 100%;
		font-size: large;
		background-color: {{card_background}};
		color: {{button_foreground}};
	}
	#modal_dialog input[type="text"] {
		height: 30px;
	}
	#modal_dialog textarea {
		height: 200px;
	}
	#modal_dialog input[type="submit"],
	#modal_dialog input[type="button"] {
		margin-top: 20px;
		width: 100px;
		height: 40px;
		background-color: {{button_background}};
		color: {{button_foreground}};
	}

	#modal_dialog div.buttons {
		text-align: center;
		width: 100%;
	}

	#modal_dialog div.buttons input[value="Delete"] {
		float: right;
	}

#drivesDiv,
#actionsDiv,
#foldersDiv {
	background-color: {{list_background}};
	color: {{list_foreground}};
	border: solid 1px {{list_border}};
	padding: 5px 20px 5px 20px;
}

#drivesDiv a,
#actionsDiv a,
#foldersDiv a {
	color: {{list_foreground}};
	text-decoration: none;
}

#drivesDiv .drive {
	display: inline-block;
	background-color: {{card_background}};
	color: {{card_foreground}};
	border: solid 1px {{card_border}};
	padding: 10px;
}

#actionsDiv a,
#foldersDiv a {
	background-color: {{card_background}};
	color: {{card_foreground}};
	border: solid 1px {{card_border}};
	padding: 5px;
}

#foldersDiv {
	padding-top: 20px;
}

#foldersDiv a {
	display: block;
	width: auto;
}