html {
	color: gold;
	background-color: DarkOliveGreen;
}

#header img {
	vertical-align: -11px;
	padding: 5px;
}

#content h1 {
	margin-bottom: 0;
}

#content hr {
	color: yellow;
}

a.user,
a.project {
	text-decoration: none;
}

	a.user div,
	a.project div,
	div.list {
		float: left;
		border: solid 1px gold;
		border-radius: 5px;
		background-color: khaki;
		color: black;
		width: 200px;
		min-height: 100px;
		padding: 10px;
		margin: 10px;
		box-shadow: 2px 2px;
	}

	a.user h3,
	a.project h3,
	div.list h2 {
		padding: 0;
		margin: 0;
	}

	a.user p,
	a.project p {
		padding: 0;
		margin: 0;
	}

a.card {
	text-decoration: none;
}

	a.card div {
		display: inline-block;
		border: solid 1px lightyellow;
		border-radius: 5px;
		background-color: lightyellow;
		color: black;
		width: 180px;
		padding: 5px;
		margin: 5px;
	}
